---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="A daily boost for your brain." />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="icon" href="/favicon.ico" />
    <link rel="manifest" href="/app.webmanifest">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
	  --accent-h: 141;
		--accent: 55.15% 0.2444 var(--accent-h);
		--accent-light: 87.63% 0.066 var(--accent-h);
		--accent-dark: 28.05% 0.1406 var(--accent-h);
		--accent-gradient: linear-gradient(
			45deg,
			oklch(var(--accent)),
			oklch(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		color: white;
	}
	html, body {
	  position: fixed;
	  overflow: hidden;
	  width: 100vw;
	  height: 100vh;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
